{% load bootstrap4 %}
{% load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Gallery {{title}}</title>
  {% else %}
    <title> Gallery </title>
  {% endif %}

  {% block styles %}
  
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Indie+Flower&display=swap" rel="stylesheet">
  {% endblock %}

</head>
<body>
        {% include "navbar.html" %}
    {% block content %}  {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
     <!-- <footer style="font-family: 'Indie Flower', cursive;font-family: 'Abril Fatface', cursive;text-align: center;background-color: black; color: blanchedalmond;background-attachment: fixed;height: 50px;" > © Copyright</footer> -->
    {% endblock %}
</body>
</html>
