{%extends 'base.html'%}
{% block content %} 

<!-- <div class="container"> -->
 
  <div class="row">
    <img style="margin:5px;" src="{{image.url}}" class="img-responsive" alt="Image">
    </div><br><br>
    <div class="row">
      <!-- <h5 style="font-family: 'Indie Flower', cursive;font-family: 'Abril Fatface', cursive;"><strong>{{img.category}}</strong></h5> -->
    <p style="font-family: 'Indie Flower', cursive;font-family: 'Abril Fatface', cursive;">{{image.description}} </p><br>
    <!-- <p class="end" style="font-family: 'Indie Flower', cursive;font-family: 'Abril Fatface', cursive;">taken in {{img.location}}</p> -->
    </div>
    
  

   

{% endblock %}